<footer class="footer">
    <div class="container">
      <!-- Logo de Profilix -->
      <div class="footer-logo">
        <img src="assets/Profilix_dbg.png" alt="Profilix Logo" />
      </div>
  
      <!-- Lignes de navigation -->
      <div class="footer-nav">
        <div class="footer-col">
          <h5>Général</h5>
          <ul>
            <li><a [routerLink]="['inscrire']">S'inscrire</a></li>
            <li><a [routerLink]="['contact']">Contact</a></li>
            <li><a href="#">À propos</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5>Parcourir Proflix</h5>
          <ul>
            <li><a [routerLink]="['profile']">Apprentissage</a></li>
            
            <li><a [routerLink]="['dashboard']">Emplois</a></li>
            
          </ul>
        </div>
        <div class="footer-col">
          <h5>Business Solutions</h5>
          <ul>
            <li><a href="#">Talent</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5>Annuaires</h5>
          <ul>
            <li><a href="#">Membres</a></li>
            <li><a href="#">Emplois</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  