<footer class="flex justify-between px-64 bg-black/75">
  <div class="max-w-40 text-center">
    <img src="assets/Profilix_dbg.png" alt="Profilix Logo" />
  </div>

  <div class="flex gap-10 pt-5">
    <div>
      <h5 class="text-lg text-white">Parcourir Proflix</h5>
      <br>
      <ul>
        <li><a [routerLink]="['profile']">Apprentissage</a></li>
        <li><a [routerLink]="['dashboard']">Emplois</a></li>
      </ul>
    </div>

    <div>
      <h5 class="text-lg text-white">Général</h5>
      <br>
      <ul>
        <li><a [routerLink]="['contact']">Contact</a></li>
        <li><a href="#">À propos</a></li>
      </ul>
    </div>
  </div>
</footer>
  