<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-blueGray-700 text-xl font-bold">My account</h6>
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form #settingsForm="ngForm" (ngSubmit)="updateUserInfos(settingsForm)">
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        User Information
      </h6>
      <div class="flex flex-wrap">
        

        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"

            >
            Prénom
            </label>
            <input
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value='{{user?.firstname}}'
              type="text" id="lastname" [class.border-red-500]="!firstname.valid && firstname.touched" #firstname="ngModel" [(ngModel)]="model.firstname" required name="firstname" minlength="3"
            />
            <div *ngIf="!firstname.valid && firstname.touched" class="text-red-500"> Veuillez saisir un prénom valide. </div>

          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Nom de famille              
            </label>
            <input
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value=' {{user?.lastname}} '
              type="text" id="lastname" [class.border-red-500]="!lastname.valid && lastname.touched" #lastname="ngModel" [(ngModel)]="model.lastname" required name="lastname" minlength="3"
            />
            <div *ngIf="!lastname.valid && lastname.touched" class="text-red-500"> Veuillez saisir un nom valide. </div>

          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Date of birth
            </label>
            <input
              type="date"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value=' {{user?.dateBirth}} '
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Gender
            </label>
            <select
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              name="gender"
            >
            <option [value]="'Male'" [selected]="user?.gender === 'Male'">Male</option>
            <option [value]="'Female'" [selected]="user?.gender === 'Female'">Female</option>
            </select>
          </div>
        </div>
      </div>

      <hr class="mt-6 border-b-1 border-blueGray-300" />

      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Contact Information
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Adresse
            </label>
            <input
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value=' {{user?.address}} '
              type="text" id="address" [class.border-red-500]="!address.valid && address.touched" #address="ngModel" [(ngModel)]="model.address" required name="address" minlength="3" maxlength="32"
            />
            <div *ngIf="!address.valid && address.touched" class="text-red-500"> Veuillez saisir une adresse valide. </div>

          </div>
        </div>
        <div class="w-full lg:w-4/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Numéro de téléphone
            </label>
            <input
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value=' {{user?.phoneNumber}} '
              type="number" id="phoneNumber" [class.border-red-500]="!phoneNumber.valid && phoneNumber.touched" #phoneNumber="ngModel" [(ngModel)]="model.phoneNumber" required name="phoneNumber" minlength="8" maxlength="8"
            />
            <div *ngIf="!phoneNumber.valid && phoneNumber.touched" class="text-red-500"> Veuillez saisir un numéro de téléphone valide. </div>
          </div>
        </div>
        <div class="w-full lg:w-4/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
            Email
          </label>
          <input
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            value=' {{user?.email}} '
            type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.border-red-500]="!email.valid && email.touched" #email="ngModel" [(ngModel)]="model.email" required name="email"
          />
          <span *ngIf="!email.valid && email.touched" class="text-red-500"> Veuillez saisir un adresse mail valide. </span>

          </div>
        </div>

      </div>

      <hr class="mt-6 border-b-1 border-blueGray-300" />

      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        About Me
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              About me
            </label>
            <textarea
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              rows="4"
              type="text" id="Aboutme" [class.border-red-500]="!Aboutme.valid && Aboutme.touched" #Aboutme="ngModel" [(ngModel)]="model.Aboutme"  name="Aboutme" maxlength="250"
            >    
            <span *ngIf="!email.valid && email.touched" class="text-red-500"> Veuillez saisir une description valide. </span>

                </textarea
            >
          </div>
        </div>
        <button
        class="bg-blue-500 text-white hover:bg-blue-700 rounded-md font-medium py-2 px-4 transition ease-out hover:ease-in disabled:opacity-50 disabled:cursor-not-allowed"
        type="button"
        [disabled]="!settingsForm.valid"
        type="submit"
      >
        Enregistrer 
      </button>
      </div>
      
    </form>
  </div>
</div>
