/* pagination.component.css */
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
  }
  
  .page-link:hover {
    background-color: #e9ecef;
  }
  