<nav class="app-navbar fixed top-0 w-full z-50 flex justify-between items-center bg-black/75 h-20 p-4 px-10">
  <a *ngIf="!isUserLoggedIn" [routerLink]="['home']">
    <img src="assets/Profilix_dbg.png" alt="Profilix" width="100">
  </a>
  
  <a *ngIf="isUserLoggedIn" [routerLink]="isCompanyUser ? ['company-dashboard'] : ['user-dashboard']">
    <img src="assets/Profilix_dbg.png" alt="Profilix" width="100">
  </a>

  <div class="flex gap-5 items-center text-white">

    <ng-container *ngIf="!isUserLoggedIn">
      <app-underlined-link [routerLink]="['home']">Accueil </app-underlined-link>
      <app-underlined-link [routerLink]="['companies']">Companies</app-underlined-link>
      <app-underlined-link [routerLink]="['contact']">Contact</app-underlined-link>
      <app-button [routerLink]="['authentification']">Se connecter</app-button>
    </ng-container>

    <ng-container *ngIf="isUserLoggedIn && !isCompanyUser">
      <app-underlined-link [routerLink]="['user-dashboard']">Accueil </app-underlined-link>
      <app-underlined-link [routerLink]="['companies']">Companies</app-underlined-link>
      <app-underlined-link [routerLink]="['contact']">Contact</app-underlined-link>
      <app-button (click)="logout()">Se Deconnecter</app-button>

    </ng-container>

    <ng-container *ngIf="isUserLoggedIn && isCompanyUser">
      <app-underlined-link [routerLink]="['company-dashboard']">Accueil </app-underlined-link>
      <app-underlined-link [routerLink]="['companies']">Companies</app-underlined-link>
      <app-underlined-link [routerLink]="['contact']">Contact</app-underlined-link>
      <app-button (click)="logout()">Se Deconnecter</app-button>

    </ng-container>
  </div>
</nav>