<nav class="app-navbar fixed top-0 w-full z-50 flex justify-between items-center bg-gray-700 h-20 p-4 px-10">
  <a [routerLink]="['home']">
    <img src="assets/Profilix_dbg.png" alt="Profilix" width="100">
  </a>
  
  <div class="flex gap-5 items-center text-white">
    <a [routerLink]="['home']">Accueil </a>
    <a [routerLink]="['companies']">Companies</a>
    <a [routerLink]="['contact']">Contact</a>

    
    <app-button buttonType="button" [routerLink]="['inscrire']">S'inscrire</app-button>
    <app-button buttonType="button" [routerLink]="['authentification']">Se connecter</app-button>
  </div>
</nav>
