<div *ngFor="let company of companies" class="company-list">
  <div class="company-card">
    <img [src]="company.logo" alt="Logo" class="company-logo">
    <div class="company-info" >
      <h3>{{ company.name }}</h3>
      <p>{{ company.address }}</p>
      <p>{{ company.description }}</p>
      <a [href]="company.website">Website</a>
      <span class="company-state">{{ company.state }}</span>
      <button (click)="followCompany(company.id)" class="follow-button">Suivre</button>
    </div>

  </div>
</div>



