.company-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.company-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 300px; /* Or whatever width you prefer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.company-logo {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 15px;
  border-radius: 4px;
}

.company-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.company-info {
  font-size: 14px;
  margin-bottom: 10px;
}

.company-info a {
  color: #007bff;
  text-decoration: none;
}

.company-info a:hover {
  text-decoration: underline;
}

.company-state
{
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  border-radius: 4px;

}
.follow-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.follow-button:hover {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}
