<div class="contact-container">
    <div class="contact-info">
        <h2>Nos Coordonnées</h2>
        <p><strong>Adresse :</strong> Tunisie </p>
        <p><strong>Téléphone :</strong> (00216) 00 000 000</p>
        <p><strong>Email :</strong> contact@tgmail.com</p>
    </div>
    <div class="contact-form">
        <h2>Contact</h2>
        <form>
            <div class="form-group">
                <input type="text" placeholder="Prénom" required>
                <input type="text" placeholder="Nom" required>
            </div>
            <div class="form-group">
                <input type="email" placeholder="Saisissez un e-mail" required>
                <input type="email" placeholder="Confirmez l'e-mail" required>
            </div>
            <div class="form-group">
                <select required>
                    <option value="">À quel service s'adresse votre demande?</option>
                    <option value="commercial">service 1</option>
                    <option value="support">service 2</option>
                    <option value="qualite">service 3</option>
                </select>
            </div>
            <div class="form-group">
                <textarea placeholder="Votre message" required maxlength="600"></textarea>
            </div>
            <button type="submit">ENVOYER</button>
        </form>
    </div>
</div>
