<div *ngFor="let job of jobOffers" class="job-offer mb-4 p-4 border rounded relative">
  <div class="flex items-start justify-end">
    <button (click)="toggleMenu(job._id)" type="button" [attr.id]="'options-menu-' + job._id" class="p-2 menu-button" aria-haspopup="true" aria-expanded="true">
      ...
    </button>

    <button class="px-4 py-2" (click)="ignoreJob(job)">X</button>
  </div>

  <div *ngIf="openMenus[job._id]" class="absolute top-10 right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" [attr.aria-labelledby]="'options-menu-' + job._id">
    <a (click)="viewCompany(job.recruiter)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
      Voir l'entreprise
    </a>
    <a (click)="ignoreJob(job)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Je ne souhaite pas voir ceci</a>
  </div>

  <div class="flex items-center">
    <div class="rounded-full overflow-hidden mr-4">
      <img [src]="companies[job.recruiter].avatar" alt="Logo" class="w-16 h-16 object-cover" >    
    </div>

    <div class="flex-1">
      <h3 class="text-lg font-bold">{{ job.title }}</h3>
      <p class="text-gray-600 mb-2">Company: {{ companies[job.recruiter].name }} </p>
      <p>Location: </p>
      <p>Description: {{ job.description }}</p>
    </div>
  </div>

  <div class="apply-section mt-4 p-4 border-t">
    <h5 class="text-lg font-semibold mb-2">Postuler à cette offre</h5>
    <form (ngSubmit)="applyToJob(job._id)" class="space-y-4">
      <div class="mb-3">
        <textarea [disabled]="appliedJobs[job._id]" class="form-control w-full px-3 py-2 border rounded-md"
                  [(ngModel)]="comments[job._id]" [ngModelOptions]="{standalone: true}"
                  name="comment{{job._id}}" rows="4"
                  placeholder="Ajoutez votre commentaire ou lettre de motivation ici..." required>
        </textarea>
      </div>

      <div class="mb-3">
        <input 
        *ngIf="!selectedCVFileNames[job._id]"
        type="file" (change)="onFileSelected($event, job._id)" 
               name="cv{{job._id}}" 
               [disabled]="appliedJobs[job._id]" 
               accept=".pdf,.doc,.docx" />

        <div *ngIf="selectedCVFileNames[job._id]">
          Fichier CV: {{ selectedCVFileNames[job._id] }}
        </div>
      </div>

      <button type="submit"
      [class.bg-blue-500]="!appliedJobs[job._id]"
      [class.bg-gray-400]="appliedJobs[job._id]"
      [disabled]="appliedJobs[job._id]"
      class="w-full text-white font-bold py-2 px-4 rounded">
      {{ appliedJobs[job._id] ? 'Déjà postulé' : 'Postuler' }}
      </button>



    </form>
  </div>
