<nav [ngClass]="menuService.getSideBarState() ? 'w-52 xl:w-64' : 'w-[70px]'"
  class="hidden h-full flex-col justify-between overflow-hidden bg-white pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-100 dark:bg-night-700 dark:scrollbar-thumb-night-500 dark:scrollbar-track-night-600 lg:flex">
  <div class="px-4 h-fit">
    <div class="relative h-10">
      <div class="flex items-center" *ngIf="menuService.getSideBarState()">
        <app-head-user-dashboard [user]="user"> </app-head-user-dashboard>
      </div>

      <button
        (click)= "menuService.toggleSideBar()"
        class="absolute top-2 right-2 flex h-5 w-5 items-center justify-center rounded text-gray-400 transition-all duration-200 focus:outline-none hover:text-gray-500 dark:text-night-400 dark:hover:text-night-300"
        [ngClass]="{ 'rotate-180': !menuService.getSideBarState() }">
        <svg-icon src="assets/icons/heroicons/solid/chevron-double-left.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
      </button>
    </div>

    <div class="pt-3">
      <hr class="border-dashed border-gray-200 dark:border-night-500" />
    </div>

    <ng-container [ngClass]="menuService.getSideBarState() ? 'hidden' : ''">
      <app-sidebar-menu></app-sidebar-menu>
    </ng-container>
    
    <div class="py-4" [ngClass]="menuService.getSideBarState() ? 'hidden' : ''">
      <a (click)="authService.logout()"
        class="ml-3 truncate text-xs font-semibold tracking-wide text-gray-600 focus:outline-none dark:text-night-100 cursor-pointer hover:border hover:bg-slate-100 hover:rounded-md p-3">
        Sign out
      </a>
    </div>
  </div>
</nav>
