.app-container {
    justify-content: space-between;
    padding: 20px;
  }
  
  app-profile-sidebar {
    width: 20%;
  }
  
  app-feed {
    width: 60%;
  }
  
  app-network-sidebar, app-advertisement {
    width: 20%;
  }
  