<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-logo">
                <img src="path-to-your-logo/ProfilixLogo.png" alt="Profilix Logo" />
            </div>
            <div class="footer-links">
                <div class="link-column">
                    <h5>Général</h5>
                    <ul>
                        <li><a href="#">S'inscrire</a></li>
                        <li><a href="#">Assistance clientèle</a></li>
                        <li><a href="#">À propos</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h5>Parcourir Proflix</h5>
                    <ul>
                        <li><a href="#">Apprentissage</a></li>
                        <li><a href="#">Emplois</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h5>Business Solutions</h5>
                    <ul>
                        <li><a href="#">Talent</a></li>
                        <li><a href="#">Marketing</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h5>Annuaires</h5>
                    <ul>
                        <li><a href="#">Membres</a></li>
                        <li><a href="#">Emplois</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Profilix. Tous les droits sont réservés.</p>
        </div>
    </div>
</footer>
