
<div class="home-container">
    <div class="login-section">
        <h1>Welcome to your professional community</h1>
        <form class="login-form">
            <input type="text" placeholder="Email or phone" required>
            <input type="password" placeholder="Password" required>
            <a href="#">Forgot password?</a>
            <button type="submit">Sign In</button>
            <p>By clicking Continue, you agree to LinkedIns User Agreement, Privacy Policy, and Cookie Policy.</p>
        </form>
    </div>
    <div class="illustration-section">
        <!-- Image is supposed to be here -->
        <img src="assets/images/workspace.png" alt="Professional at Work">
    </div>
</div>
<div class="cta-section">
    <h2>Post your job for millions of people to see</h2>
    <button [routerLink]="['inscrire']">Post a job</button>
</div>
<div>
    <app-companies></app-companies>
</div>
